/** @format */

* {
  box-sizing: inherit;
  margin: 0;
}

html {
  text-align: center;
  box-sizing: border-box;
  height: 100%;
}

.thorfinn {
  width: 75%;
}

.text-desc {
  font-family: "Poppins";
  color: white;
}
.audio {
  position: relative;
  bottom: 150px;
  width: 50%;
}

.big-text {
  text-align: left;
}
main {
  background-color: black;
}

.below-header {
  text-align: center;
  padding: 3rem;
  margin: 0;
}

footer {
  background-color: black;
}
