/** @format */

* {
  margin: 0;
}

html {
  text-align: center;
}
header {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  background-color: black;
}
.thorfinn {
  width: 75%;
}

.text-desc {
  font-family: "Poppins";
  color: white;
}
.audio {
  position: relative;
  bottom: -150px;
  left: 170px;
  width: 50%;
}

.big-text {
  text-align: left;
}

.below-header {
  background-color: black;
  text-align: center;
  padding: 3% 15%;
  margin: 0;
}
